{% extends 'base.html.twig' %}
{% block title %}Edit Trick{% endblock %}
{% form_theme form _self %}
{% block body %}

{{ form_start(form) }}

<div class="container text-center border">
    <h2 class="title-show mt-2">{{ trick.name }}</h2>
    {% if trick is not empty %}
    {% for image in trick.images %}
    {% if loop.first %}
    <div class="edit-image-poster-icons mt-4">
        <img class="image-trick image-trick-poster rounded mb-2" src="{{ asset('assets/uploads/images/' ~ image.path) }}" alt="Image"
            height="100" width="150">
        <div class="bt-edit-poster">
            <a href="" type="button" class="btn-delete-image btn btn-danger fas fa-trash-alt"></a>
            <a href="" class="js-modal-image btn btn-primary fas fa-pencil-alt"></a>
        </div>
    </div>
    {% endif %}
    {% else %}
    <div class="edit-image-poster-icons">
        <img class="image-trick image-trick-poster rounded mx-2" src="{{ asset('assets/img_default/460.jpg') }}" alt="Image">
    </div>
    {% endfor %}
    {% endif %}
    <input type="button" class="see btn-roun-shadow btn btn-success mt-2 mb-2" value="See Medias">
    <div class="container media-none my-4 ">
        <div class="row justify-content-center">
            {% for image in trick.images %}
            {% if not loop.first %}
            <div class="d-flex justify-content-center my-4">
                <img class="image-trick-mini mb-1 image-tricks rounded ml-4" src="{{ asset('assets/uploads/images/' ~ image.path) }}"
                    alt="Image" width="150">
                <div class="image-trick-icons align-self-center">
                    <a href="" class=" btn-delete-image btn btn-danger fas fa-trash-alt"></a>
                    <a href="" class=" js-modal-image btn btn-primary fas fa-pencil-alt"></a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {{ form_row(form.images) }}
    
    {% if trick.videos is not empty %}
    <div class="container media-none">
        <div class="row justify-content-center">
            {% for video in trick.videos %}
            <div
                class="edit-trick-mini-video d-flex text-align-inline align-items-center justify-content-center my-4">
                <iframe class="video-trick-mini mb-1 video-tricks rounded" src="{{ video.url }}" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="video-trick-icons align-self-center ">
                    <a href="" class="btn-delete-video btn btn-danger fas fa-trash-alt"></a>
                    <a href="" class="js-modal-video btn btn-primary fas fa-pencil-alt"></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {{ form_row(form.videos) }}
    {{ include('trick/_form.html.twig', {'button_label': 'Update'}) }}<br><br>
    <a href="{{ path('trick_index') }}" class="btn-roun-shadow btn btn-secondary">back to list</a><br><br>
</div>

{% endblock %}
{% block form_row %}
<div class="form-group">
    {{ form_label(form) }}
    {{ form_widget(form) }}
</div>
{% endblock %}
{% block _trick_images_row %}
{{ form_widget(form) }}
<div class=>
    <button type="button" class="btn-roun-shadow btn btn-primary btn-add-images mt-4" id="add-images">Add Picture</button>
</div><br>
{% endblock %}

{% block _trick_images_entry_widget %}
<div class="modal-none" id="block_{{id}}">
    <div class="edit-image-form-entry">
        {{ form_widget(form.file)}}
        <button type="button" class="btn-delete-image btn btn-danger fas fa-trash-alt" data-action="delete" data-target="#block_{{id}}" >
        </button>
    </div>
</div>
{% endblock %}

{% block _trick_videos_row %}
{{ form_widget(form) }}
<button type="button" class="btn-roun-shadow btn btn-primary btn-add-videos" id="add_videos">Add video</button><br><br>
{% endblock %}

{% block _trick_videos_entry_widget %}
<div class="modal-none" id="block_{{id}}">
    <div class="edit-video-form-entry">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        {{ form_widget(form.url) }}
                    </div><br><br>
                    <div class="col-12">
                        {{ form_widget(form.name) }}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button type="button" class="btn-delete-video btn btn-danger fas fa-trash-alt" data-action="delete" data-target="#block_{{id}}"></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
<script src="{{ asset('assets/js/edit.js') }}"></script>
<script src="{{ asset('assets/js/addFileName.js') }}"></script>
<script src="{{ asset('assets/js/loadMoreTricks.js') }}"></script>
<script src="{{ asset('assets/js/handleForm.js') }}"></script>
<script src="{{ asset('assets/js/editModal.js') }}"></script>
{% endblock %}